{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Pacientes</title>
{% endblock %}

{% block conteudo %}
    <div class="container">
        <h3>Lista de Pacientes</h3>
        
        <hr>

        <div id="mensagem" style="color: green; margin-bottom: 20px;"></div>


        <div class="table-responsive">
            <form action="?" method="GET">
                <input type="text" name="nome" class="p-1 border" value="{{ request.GET.nome }}">
                <button type="submit" class="btn btn-success">Buscar</button>
                <a href="{% url 'Listar-paciente' %}">Limpar</a>
            </form>

            <hr>

            <table class="table table-striped ">
                <tr>
                    <th>Nome</th>
                    <th>Comun / Preferencial</th>
                    <th>Idade</th>
                    <th>Sintomas</th>
                    <th>cpf</th>
                    <th> numero do sus</th>
                    <th>telefone</th>
                    <th>doença cronica</th>
                    <th>Opções</th>
                    <th> ver prontuario </th>
                </tr>

                {% for paciente in object_list %}
                <tr>
                    <td>{{ paciente.nome }}</td>
                    <td>{{ paciente.descricao }}</td>
                    <td>{{ paciente.idade }}</td>
                    <td>{{ paciente.sintomas }}</td>
                    <td>{{ paciente.cpf }}</td>
                    <td>{{ paciente.numero_sus}}</td>
                    <td>{{ paciente.telefone }}</td>
                    <td>{{ paciente.doença_cronica }}</td>
                    <td>
                        <a href="{% url 'editar-paciente' paciente.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                        <a href="{% url 'excluir-paciente' paciente.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                    </td>
                    <td> <a href="{% url 'prontuario' paciente.pk %}" class="btn btn-primary btn-sm" title="Editar">prontuario</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Nenhum paciente registrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="text-center">
            <a href="?page=1">Primeira</a>

            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Voltar</a>
            {% endif %}

            <span>Página: {{ page_obj.number }}</span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}

            <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        </div>
        <a href="{% url 'cadastrar-paciente' %}"><button class="btn btn-primary btn-sm">Cadastrar outro paciente</button></a>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
