{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
<title>Cadastro</title>
{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <h3 class="text-center">{{Titulo}}</h3>
    <h5 class="text-center">{{conteudo}}</h5>
    <p class="lead text-center">Preencha todos os campos obrigatórios.</p>

    <hr>

    <form action="" method="post" class="form-control-lg">
        {% csrf_token %}

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock %}
