{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
<title>Cadastro de Consulta</title>
{% endblock %}

{% block conteudo %}
<div class="container">
    <h3>{{ Titulo }}</h3>
    <h5>{{ conteudo }}</h5>
    <p class="lead">Preencha todos os campos obrigatórios.</p>

    <hr>

    <!-- Exibindo dados da consulta e da triagem -->
    <h4>Dados da Consulta</h4>
    <p><strong>Paciente:</strong> {{ consulta.paciente.nome }}</p>
    <p><strong>Médico:</strong> {{ consulta.medico.nome }}</p>
    <p><strong>Data:</strong> {{ consulta.data }}</p>
    <p><strong>Hospital:</strong> {{ consulta.hospital.nome }}</p>
    <p><strong>Status:</strong> {{ consulta.status }}</p>

    <h4>Dados da Triagem</h4>
    <p><strong>Pressão:</strong> {{ triagem.pressao }}</p>
    <p><strong>Temperatura:</strong> {{ triagem.temperatura }}</p>
    <p><strong>Peso Corporal:</strong> {{ triagem.peso }}</p>
    <p><strong>Glicose:</strong> {{ triagem.glicose }}</p>

    <hr>

    <form action="" method="post" class="form-control-lg">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock %}
