{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Gerenciar Grupos de Usuários</title>
{% endblock %}

{% block css %}
<!-- Link do Bootstrap CSS via CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Gerenciar Grupos de Usuários</h1>

    <div class="row d-flex justify-content-between">
        <!-- Atualizar Grupos -->
        <div class="col-md-6 card-container">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Atualizar Grupos</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="user_id" class="form-label">Selecione um Usuário:</label>
                            <select id="user_id" name="user_id" class="form-select">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="group_name" class="form-label">Selecione um Grupo:</label>
                            <select id="group_name" name="group_name" class="form-select">
                                <option value="Medico">Médico</option>
                                <option value="Admin">Admin</option>
                                <option value="Paciente">Paciente</option>
                                <option value="Remover">Remover</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">Atualizar Grupo</button>
                            <button type="reset" class="btn btn-secondary">Limpar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Usuários e Grupos -->
        <div class="col-md-6 card-container">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Usuários e Grupos</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Usuário</th>
                                <th>Grupos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        {% for group in user.groups.all %}
                                            <span class="badge bg-secondary" >{{ group.name }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<!-- Link do jQuery via CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Link do Bootstrap JS via CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
